/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .btn-custom-logout {
  background-color: transparent; /* Fond transparent */
  border: 1px solid #FF0000; /* Bordure solide rouge */
  color: #FF0000; /* Texte rouge */
  padding: 0.25rem 0.5rem; /* Espacement intérieur personnalisé (ajustez selon vos besoins) */
  font-weight: bold; /* Texte en gras */
  text-decoration: none; /* Supprime la décoration du lien par défaut */
  cursor: pointer; /* Curseur en main pour indiquer que c'est un élément cliquable */
  border-radius: 0.20rem; /* Coins arrondis (ajustez selon vos préférences) */
  transition: background-color 0.3s ease, color 0.3s ease; /* Animation de transition */
  margin-right: 10px; /* Marge à droite (ajustez selon vos préférences) */
}

.btn-custom-logout:hover {
  background-color: #FF0000; /* Fond rouge au survol */
  color: #FFFFFF; /* Texte blanc au survol */
}



